nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.link {
  display: flex;
}

.material-symbols-outlined {
 display: none;
}

#logo {
  margin-top: 2%;
  width: 50%;
}

nav ul {
  display: flex;
  width: 461px;
  height: 24px;
  top: 32px;
  list-style-type: none;
  left: 200px;
  gap: 30px;
}

a {
  width: 52;
  height: 24;
  font-family: 'SF Compact Text Regular Italic', sans-serif;
  text-decoration: none;
  src: local('SF Compact Text Regular Italic'), url('sf-compact-text-italic-58646f7cbab10.woff') format('woff');
  font-weight: 457;
  line-height: 23.87px;
  font-size: 20px;
  letter-spacing: 0%;
  color: #FFFFFFCC;
}

.link2 {
  display: flex;
  gap: 10px;
}

.link2-1 {
  padding: 5px;
  margin-top: 5px;
}

#profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#search {
  background-color: transparent;
  border: transparent;
  color: white;
  margin-left: 15px;
}

#search:focus {
  outline: none;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }

  .link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 220px;
    min-height: max-content;
    background-color: rgba(0, 0, 0, 0.85);
    flex-direction: column;
    padding: 20px 0;
    z-index: 999;
    border-radius: 8px;
    border-left: 3px solid #ffffff20;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ffffff10;
  }

  nav ul li a {
    font-size: 16px;
    font-weight: bolder;
  }

  #logo {
    width: 60px;
  }

  .link2-1 {
    width: auto;
  }

  .link2 {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    display: flex;
    margin-top: 4px;
    cursor: pointer;
    font-size: 28px;
  }

  .menu-toggle {
    color: white;
  }

  #icon {
    margin-left: 0;
    width: 25px !important;
    height: 25px !important;
  }

  #profile {
    width: 35px;
    height: 35px;
  }
}

