.cast1 {
 font-family: "inter";
 margin-right: 15px;
}

.cast img {
  width: 100%;
}

.cast1-1 h1 {
  font-size: 25px;
  width: 170px;
}

.cast1-1 p {
  font-size: 15px;
}

.cast1-1 {
  margin-right: 100px;
} 